[submodule "gauntlet"]
	path = gauntlet
	url = https://github.com/kushagrab21/gauntlet-corpus.git
[submodule "dnc"]
	path = dnc
	url = https://github.com/kushagrab21/dnc.git
[submodule "traverse"]
	path = traverse
	url = https://github.com/kushagrab21/traverse.git
[submodule "declare"]
	path = declare
	url = https://github.com/kushagrab21/declare.git
